<ng-template #grid>
  <div class="container-fluid my-md-4">
    <div class="row">
      <div class="input-group col-md-6">
        <input #busca type="text" class="form-control" aria-describedby="basic-addon2" (keyup.enter)="searh(busca.value)">
        <div class="input-group-append">
          <button class="btn btn-light font-weight-bold" type="button" (click)="searh(busca.value)">Buscar</button>
        </div>
        <div class="input-group-append">
          <button class="btn btn-danger font-weight-bold" type="button" (click)="busca.value=''; searh('')">Limpar</button>
        </div>
      </div>
      <div class="input-group col-md-6">
        <div class="mx-auto">
          <button class="btn btn-outline-light font-weight-bold" type="button" (click)="newRecord()">Novo</button>
        </div>
      </div>
    </div>
  </div>
  <table class="table">
    <thead class='grid-head'>
      <tr>
        <th scope="col" *ngFor="let field of this.entityInfo.fields">{{field.label}}</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class='grid-body'>
      <tr *ngFor="let record of records">
        <td scope="col" *ngFor="let field of this.entityInfo.fields">{{ this.getValue(record, field) }}</td>
        <td scope="col">
          <button class="btn btn-outline-primary font-weight-bold" (click)="edit(record)">Editar</button>
        </td>
        <td scope="col">
          <button class="btn btn-outline-danger font-weight-bold" (click)="delete(record.id)">Apagar</button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>
<ng-container *ngIf="formMode; else grid">
  <div class="container-fluid my-md-4">
    <div class="row">
        <div class="mx-auto">
          <button class="btn btn-outline-light font-weight-bold" type="button" (click)="return()">Retornar</button>
        </div>
        <div class="mx-auto">
          <button class="btn btn-danger font-weight-bold" type="button" (click)="delete(dataId)">Apagar</button>
        </div>
    </div>
  </div>
</ng-container>